body {
  font-family: Helvetica, sans-serif;
  color: black;
  text-align: center;
  font-weight: normal;
}
header {
  color: white;
  background: url(../images/the-flatiron-building.png) center;
  background-size: cover;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
menu, ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: block;
}

ul li a {
  color: white;
  font-size: 18px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
