body {
  font-family: Helvetica, sans-serif;
  color: black;
  text-align: center;
  font-weight: normal;
}
header, #designed {
  color: white;
  background: url(../images/the-flatiron-building.png) center;
  background-size: cover;
}
footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
p {
  font-size: 14px;
}
#designed p{
  font-size: 23px;
  font-weight: bold;
}
menu, ul {
  margin: 0;
  padding: 0;
}
header ul li {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: block;
}
ul li a {
  color: white;
  font-size: 18px;
}
footer ul {
  display: inline-block;
}
footer ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
